html,
body {
    height: 100%;
    font-family: 'Raleway';
}
.page {
    background-size: cover;
    background-position: center center;
}
.picture {
    background-image: url("ColorFill.png");
}
.frame {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-left: 8%;
    margin-right: 8%;
}
.frame>.block_menu {
    padding-top: 50px;
}
.block_one {
    width: 180px;
    height: 30px;
    display: flex;
	flex-direction: row;
}
body a:hover {
	color: gray;
}
body a:active {
	color: blue;
	text-decoration: underline;
}
#shape {
    background-image: url("Shape.png");
    width: 40px;
    height: 30px;
    margin-right: 10px;
    text-decoration: none;
}
.text {
    color: #FFFFFF;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 15px;
    text-decoration: none;
    font-weight: bold;
}
.block_two {
    width: 441px;
    height: 30px;
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.block_two a {
    text-decoration: none;
    color: #FFFFFF;
    margin: auto;
    font-size: 18px;
}
.block_menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.button_sign {
    width: 80px;
    height: 30px;
    display: flex;
    align-items: center;
    line-height: 25px;
    border: 1px solid #FFFFFF;
    background: rgba(0, 0, 0, 0.0001);
    border-radius: 6px;
    justify-content: center;
}
.a_sign {
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Raleway';
    font-size: 16px;
}
.a_buy {
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Raleway';
}
.a_try {
    color: black;
    text-decoration: none;
    font-family: 'Raleway';
}
.a_started {
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Raleway';
}
.main_block {
    margin-top: 15%;
    display: flex;
    justify-content: space-between;
}
.first_block {
    width: 1000px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.second_block {
    display: flex;
    justify-content: right;
    align-items: center;
}
h1 {
    margin: 0px;
    font-size: 55px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.main_description {
    font-size: 22px;
    line-height: 35px;
    color: #FFFFFF;
    margin: 0px;
}
.buttons {
    width: 328px;
    height: 55px;
    display: flex;
    flex-direction: row;
}
.buy_now {
    width: 150px;
    height: 55px;
    background: #061E37;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
}
.for_free {
    width: 150px;
    height: 55px;
    margin-left: 28px;
    border-radius: 6px;
    font-size: 15px;
    text-transform: uppercase;
    background: #FFFFFF;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
    border: white;
}
.video_box {
    background-image: url("Rounded_Rectangle.png");
    width: 600px;
    height: 320px;
    border-radius: 6px;
    border: 1px solid #061E37;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    opacity: 0.7;
    display: flex;
    justify-content: center;
    align-items: center;
}
.block_play_description {
    width: 150px;
    height: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.block_play_button {
    width: 60px;
    height: 60px;
    background: black;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.block_play_text {
    font-size: 15px;
    line-height: 14px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
}
#triangle {
    border: 12px solid transparent;
    border-left: 18px solid rgb(255, 255, 255);
    margin-left: auto;
}

.frame_two {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    margin-bottom: auto;
}
#heading {
    font-size: 45px;
    color: #061E37;
    font-weight: 600;
}
.project_management {
    margin-top: 2%;
    width: 555px;
    height: 104px;
}
h2 {
    font-size: 25px;
    color: #B0BEC5;
    text-align: center;
    margin-top: 0px;
}
.project_text {
    margin-top: 2%;
    font-size: 17px;
    color: #B0BEC5;
    text-align: center;
}
.three_squares {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.block_squares {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    padding: 10px;
}
.pictures {
    background-repeat: no-repeat;
    margin-bottom: 35px;
}
.picture_one {
    margin-left: 32px;
    width: 98px;
    height: 70px;
    background-image: url("Picture_one.png");
}
.picture_two {
    margin-left: 32px;
    width: 88px;
    height: 80px;
    background-image: url("Picture_two.png");
}
.picture_three {
    margin-left: 23px;
    width: 98px;
    height: 70px;
    background-image: url("Picture_three.png");
}
h3 {
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.text_squares {
    margin-top: 2%;
    font-size: 17px;
    color: #78909C;
    margin-top: 10px;
    margin-bottom: 0px;
}
.get_started {
    margin-top: 2%;
    margin-bottom: 1%;
    width: 150px;
    height: 55px;
    background: #1DE9B6;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
    text-transform: uppercase;
    border-radius: 6px;
    border: none;
    font-weight: bolder;
}
.rectangles {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.rect_one {
    background: #80d8ff;
}
.rect_two {
    background: #82b1ff;
}
.rect_three {
    background: #b388ff;
}
.rect_four {
    background: #ea80fc;
}
.frame_three {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    margin-left: -8%;
    margin-right: -8%;
}
.circle {
    width: 60px;
    height: 60px;
    background: #FFFFFF;
    border-radius: 50%;
}
.text_inRect {
    font-size: 20px;
    color: #FFFFFF;
    margin-left: 20px;
    font-weight: 800;
}
